body {
    padding-left: .1rem;
    padding-right: .1rem;
}

#page_header {
    background-color: gray;
    padding: 5px 5px 5px 5px;
}

.rule_01 {
    margin-top: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkblue;
}

#base_nav {
    margin-right: .8rem;
    position: absolute;
    top: 1.8rem;
    right: .4rem;
    width: fit-content;
    height:fit-content;
}

#base_nav > ul {
    display: flex;
    flex-direction: row;
}

#base_nav > ul > li {
    list-style: none;
    padding: 0 1rem;
    border-radius: .4rem;
    margin: 2px;
    font-size: 1.4rem;
    font-weight: bold;
}

#base_nav > ul > li:hover {
    background-color: darkgreen;
}

#base_nav > ul > li:last-child {
    padding-right: 2rem;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#page_footer {
    background-color: black;
    height: fit-content;
    color: white;
    padding: .4rem;
}

#page_footer > #contact-us {
    border: 1px solid;
    border-radius: .4rem;
    width: fit-content;
    padding: .2rem;
}

#page_footer > #contact-us > div {
    display: flex;
    flex-direction: column;
    margin-left: .4rem;
}

#page_footer > #contact-us > div > a {
    text-decoration: none;
    color: green;
}

#page_footer > #contact-us > div > a > i {
    font-size: 1.4rem;
    padding: .2rem;
}

#page_footer > #copy-right {
    text-align: right;
    padding-right: .2rem;
}