{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chicken_fitii_webApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header id="page_header">
        <h2><a href="">chicken fitii webApp</a></h2>
        <nav>
            <ul>
                {% for item in list %}
                <li></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <hr class="rule_01"/>
    <main class="block_content">
        {% block content %}
        {% endblock %}
    </main>
    <footer id="page_footer">
        <p>&copy; MICKEY WEBPAGE</p>
    </footer>
</body>
</html>