{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%  block title %}
        <!-- title content for each page importation -->
        {% endblock%}    
    </title>
    <!-- style sheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />

    <!-- javascript files -->
    <script src="{% static 'js/my_scripts.js' %}"></script>
</head>
<body>
    <header id="page_header">
        <h1><a href="{% url 'index' %}">chicken fitii webApp</a></h1>
        <nav id="base_nav">
            <ul>
                {% for item in nav_items %}
                    <li><a href="{% url item.url %}">{{item.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <hr class="rule_01"/>
    <main class="block_content">
        {% block content %}
        <!-- template pages display here -->
        {% endblock %}
    </main>
    <footer id="page_footer">
        <p>&copy; MICKEY WEBPAGE</p>
    </footer>
</body>
</html>